{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Rbl Check{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="about" %}
{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}

<div id="sec2" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>{% include "_brandname.html" %}</h1>
        <p class="lead">Blacklist address result for {{ address }}</p>
        <ul>
          {% for c in check %}
            {% if c.state %}
                <li>Is LISTED in {{ c.bl }}. Result: {{ c.txt }}, {{ c.a }} </li>
            {% else %}
                <li>Is NOT LISTED in {{ c.bl }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock container %}
